<div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">     
        <table class="table" style="background: linear-gradient(to bottom, yellow 80%, white 20%);">
            <tr>
              <td style="padding: 30px;">
                <img [src]="imageData" alt="Random Dog Image" width="300px" height="300px">
              </td>
              <td style="vertical-align: baseline!important;padding: 30px;">
                <div>
                    <h2>{{ jokeSetup }}</h2>
                    <h4 style="margin: 0; vertical-align: top;">{{ jokePunchline }}</h4>
                    <div class="text-center" style="width: 75px; height: 20px; border: 1px solid black; margin-top: 50px; padding: 5px;">
                        20 seconds.
                    </div>
                  </div>             
              </td>
            </tr>
          </table>          
      </div>
      <div class="col-4"></div>
    </div>
  </div>