<div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">     
        <table class="table color-background">
            <tr>
              <td class="td-padding">
                <img [src]="imageData" alt="Random Dog Image" class="img-size">
              </td>
              <td class="td-alignements">
                <div>
                    <h2>{{ jokeSetup }}</h2>
                    <h4 class="joke-align">{{ jokePunchline }}</h4>
                    <div class="text-center countdown">
                        {{ regresiva }} seconds.
                    </div>
                  </div>             
              </td>
            </tr>
          </table>          
      </div>
      <div class="col-4"></div>
    </div>
  </div>